<?xml version="1.0" encoding="UTF-8"?>
<packages>
	<package id="firefox" version="103.0.2"/>
	<package id="notepadplusplus.install" version="8.4.4"/>
	<package id="7zip.install" version="22.1"/>
	<package id="vlc" version="3.0.17.4"/>
	<package id="git.install" version="2.37.2.2"/>
	<package id="nodejs.install" version="18.7.0"/>
	<package id="vscode" version="1.70.1"/>
	<package id="spotify" version="1.1.91.824"/>
	<package id="powertoys" version="0.61.1"/>
	<package id="audacity" version="3.1.3"/>
	<package id="qbittorrent" version="4.4.3.1"/>
	<package id="blender" version="3.2.2"/>
	<package id="itunes" version="12.12.4.1"/>
	<package id="battle.net" version="0.3"/>
	<package id="hwmonitor" version="1.46.0.20220509"/>
	<package id="discord" version="1.0.9005"/>
	<package id="github-desktop" version="3.0.5"/>
	<package id="heidisql" version="12.0.0.6468"/>
	<package id="nordpass" version="4.28.7"/>
	<package id="sharex" version="14.1.0"/>
	<package id="streamlabs-obs" version="1.10.0"/>
	<package id="voicemeeter" version="1.0.8.2"/>
</packages>